// colors
$violet: #9C69E2;
$pink: #F063B8;
$blue: #212353;
$paleBlue: #4B5D68;
$white: #ffffff;
$popupLines: #68C9BA;
$body: #F7FBFD;

// fonts
$light: "Avenir-Light";
$regular: "Avenir-Regular";
$medium: "Avenir-Medium";
$semiBold: "Avenir-SemiBold";
$bold: "Avenir-Bold";
