.popup_wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: all 0.9s cubic-bezier(.19,1,.22,1);

  &.visible {
    pointer-events: all;
    opacity: 1;
  }
}

.popup_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $violet;
  opacity: .8;
}

.popup_wr {
  position: relative;
  width: 112rem;
  height: 56rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $white;
  border-radius: 5rem;
  overflow: hidden;
}

.popup_lines_bg_wr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.popup_line_bg {
  width: 300%;
  height: 1rem;
  margin: 4.25rem 0;
  background-color: $popupLines;
  transform: rotate(-54deg) translate(-38rem, -133.5rem);
}

.popup_cont_wr {
  position: absolute;
  top: 3rem;
  bottom: 3rem;
  left: 3rem;
  right: 3rem;
  padding: 4rem 3.4rem 3.1rem 3.4rem;
  background: $white;
  border-radius: 4.5rem;
}

.popup_cont_title {
  margin-bottom: 6.5rem;

  font-family: $semiBold;
  font-size: 4rem;
  text-align: center;
}

.popup_cont_form {
  margin-bottom: 3.1rem;
  display: flex;
}

.popup_form {
  width: 100%;
  display: flex;
}

.popup_form_half {
  width: 50%;
}

.popup_input {
  position: relative;
  margin-bottom: 4rem;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 95%;
    height: 2px;
    background: rgba(156, 105, 226, 0.2);
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 95%;
    height: 3px;
    background: coral;
    opacity: 0;
    transition: all 0.9s cubic-bezier(.19,1,.22,1);
  }
  &.important_input::after {
    opacity: 1;
  }
}

.popup_correct_email {
  position: absolute;
  bottom: 3rem;
  left: 10rem;
  font-size: 1.6rem;
  color: lightcoral;

  opacity: 0;
  transition: all 0.9s cubic-bezier(.19,1,.22,1);

  & .popup_correct_email {
    opacity: 1;
  }
}

.popup_send_btn_wr {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}



@media screen and (max-width: 1280px) {
  .popup_wr {
    width: 100rem;
  }
}
