@font-face {
    font-family: "Avenir-Light";
    src: url('../fonts/Avenir-Light.otf');
}
@font-face {
    font-family: "Avenir-Regular";
    src: url('../fonts/Avenir-Regular.otf');
}
@font-face {
    font-family: "Avenir-Medium";
    src: url('../fonts/Avenir-Medium.otf');
}
@font-face {
    font-family: "Avenir-SemiBold";
    src: url('../fonts/Avenir-SemiBold.otf');
}
@font-face {
    font-family: "Avenir-Bold";
    src: url('../fonts/Avenir-Bold.otf');
}
